.create-cv-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    margin-top: 4em;
}

.creator-h1 {
    text-align: center;
    color: #3b5998;
    margin-bottom: 20px;
}

.form-section {
    margin-bottom: 20px;
}

h2 {
    color: #3b5998;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
    height: 80px;
}

.add-button,
.submit-button {
    background-color: #3b5998;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
}

.add-button:hover,
.submit-button:hover {
    background-color: #ffb400;
}

.form-subsection {
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.remove-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.remove-button:hover {
    background-color: #cc0000;
}
