.my-cv-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    margin-top: 4em;
}

.mycv-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.my-cv-container .mycv-button-add {
    background-color: #007bff; 
    color: white;
}

.my-cv-container .mycv-button-remove {
    background-color: #ff9800; 
    color: white;
}

.my-cv-container .mycv-button-delete {
    background-color: #f44336; 
    color: white;
}

.my-cv-container .mycv-button-save {
    background-color: #28a745; 
    color: white;
}

.my-cv-container .mycv-button:hover {
    opacity: 0.9;
}

.top_space {
    margin-top: 30px;
}

.mycv-button-navigate {
    background-color: #c642e0; 
    color: white;
}
.separation {
    width: 100%;
    border-bottom: 4px solid black; /* Ajoute une bordure noire épaisse de 4px en bas */
    background-color: transparent; /* Optionnel : pour enlever une couleur de fond si présente */
    padding: 8px 12px; /* Ajuste l'espacement pour un meilleur affichage */
    font-size: 14px; /* Optionnel : pour harmoniser avec le design */
    margin-bottom: 20px;
}